@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Lato&family=Poppins:wght@100;300;400&family=Roboto+Slab:wght@400;700&family=Work+Sans:ital,wght@1,500&family=Ysabeau+Office:ital,wght@0,1;0,100;0,200;0,300;1,200;1,400;1,500&display=swap');
* {
  margin: 0;
  padding: 0;
  font-size: bold;
  font-weight: 400;
  font-family: 'Bacasime Antique', serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
 
}

/* main section start */
.main {
  width: 100vw;
  height: 100vh;
  /* background-color: rgb(151, 244, 128); */
  display: flex;
  flex-direction: row;
}
.main-head {
  font-size: 30px;
}
/* main section end*/

/* left side section start */
.left-side {
  width: 20%;
  background-color: #f08080;
  /* background-color:#F08080; */
  color: #fff;
}

.head-content {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: space-around; */
  /* margin: 10%; */
  gap: 5px;
}

.sorting {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin: 10%;
  gap: 20px;
}
.second-heading{
  margin: 2%;
}
/* left side section end */



/* for button */
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: crimson;
  /* background-color:#F08080; */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: 150px;
  height: 40px;
}

button:hover {
  /* background-color: #f08080; */
  background-color: rgb(14, 84, 84);
}

.algorithms {
  margin-top: 15%;
  display: flex;
  justify-content: space-around;
}

/* rightside section start */
.box {
  display: grid;
  width: 78.7%;
  height: 100%;
  background-color: black;
  /* background-color: #5b6467; */
  /* background-image: linear-gradient(90deg, #5b6467 0%, #8b939a 74%); */
  position: absolute;
  margin-top: 30px;
  margin-left: 20px;
  border: 1px solid;
  padding: 10px;
  /* box-shadow: 5px 5px 10px 5px rgb(162, 165, 167); opacity:0.7; */
}

#main {
  /* position: absolute; */
  /* top:90px; */
  bottom: 0;
  /* left: 10px; */
  /* right: -10px; */
  right: 3px;
  margin: auto;
}

.bar {
  width: 27px;
  position: absolute;
  left: 20%;
  bottom: 0;
  /* background-color: rgb(234, 20, 106); */
  border-radius: 7px;
  /* background-color: rgb(234, 20, 106) !important; */
  /* background-color: rgb(0, 183, 255); */
  transition: 0.2s all ease;
}

/* for barvalue */

.bar-value {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  /* transform-origin: center; */
}

/* rightside section end */

.button11 {
  display: inline-block;
  padding: 10px 20px;
  background-color: #07b483;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
 
  cursor: pointer;
}
.button11 a{
     text-decoration: none;
}
.button11:hover {
  background-color: #ded417;
}




/*  Designed by:- Pritirekha Panda */